@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

$primary: #57bbbf;
$secondary: #d8d3cb;
$tertiary:#05d5ff;
$quad:#a6ffcb;
$teal:$tertiary;
$font-headers: 'Open Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;
$bold: 700;
$extra-bold:800;
$text-color:#111111;
$hover-color:$primary;
$bg:#eeeeee;
$grey:#3a3939;
$padding-mobile:50px;
$padding-desktop:100px;
$gradient:linear-gradient(150deg,$primary 15%, $tertiary 70%, $quad 94%);
$gradient-reverse:linear-gradient(150deg,#a6ffcb 15%,#05d5ff 70%,$primary 94%);

// Boilerplate code

.ir {

  display:block;
  text-indent:200%;
  white-space:nowrap;
  overflow:hidden;

}

* {
  box-sizing:border-box;
}

img {

  max-width:100%;
  height:auto;

}

@mixin flexbox() {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}

::selection {
    background: $teal;
}
