// Header

header {

  position:relative;

  &:before {
    content:'';
    background:$gradient;
    height:15px;
    width:100%;
    display:block;
  }

  @media (min-width:992px){
    
    > .container {
      @include flexbox();
      justify-content: space-between;
    }

  }

}

h1.title, h2.title {

  position:relative;
  width:280px;
  height:90px;
  display:block;
  margin:0 auto;
  z-index:1;
  //margin-top:20px;
  margin-bottom:40px;

  a {

    height:inherit;
    width:inherit;
    background-image:url(../img/logo-placeholder.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
    font-size:0;

  }

  @media (min-width:992px){

    margin-left:0;
    margin-bottom:20px;
    height:82px;
    width:200px;
    margin-top:20px;
    
  }

}

.menu {
  display:none; // hide mnenu for now
}

.social-media-links {

  list-style:none;
  @include flexbox();
  padding-left:0;
  justify-content: center;
  position: relative;
  z-index:1;

  li {

    margin-left:20px;
    margin-right:20px;

    a {

      font-size:28px;
      color:$text-color;

      &:hover, &:active, &:focus {
        color:$hover-color;
      }
      
      @media (min-width:992px){
        font-size:20px;
      }

    }

  }

  @media (min-width:992px){

    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:38px;

  }
  
  @media (min-width:1200px){
    
    /*
    position: absolute;
    top:0;
    right:20px;
    */
    
  }

}
