footer {

  background:$primary;
  padding-top:25px;
  padding-bottom:25px;

  p,a {
    margin-bottom:0;
    color:#fff;
  }
  
  a {
    &:hover, &:active, &:focus {
      color:$secondary;
    }
  }
  
  h1,h2,h3,h4,h5,h6 {
    color:#fff;
  }

  .bottom-spacer {
    margin-bottom:30px;
  }
  
  .form-control {
    border:2px solid #fff;
  }
  
}
