body {

  font-family:$font-body;
  font-size:18px;
  background:$bg;
  overflow-x:hidden;

}

h1, h2, h3, h4, h5, h6 {

  font-family:$font-body;
  font-weight:$extra-bold;

}

h1 {
  font-size:calc(32px + 2vw);
  margin-bottom:30px;
  text-transform: uppercase;
}

a {

  color:$text-color;
  transition:0.3s;

  &:hover, &:active, &:focus {
    color:$hover-color;
    text-decoration: none;
  }

}

p {
  line-height:1.8;
}

.btn {
  
  border-radius:0!important;
  cursor:pointer;
  transition:0.3s;
  border-width:2px;
  font-weight:700;
  
  &.btn-black {
    
    background-color:#111;
    border-color:#111;
    color:#fff;
    
    &:hover, &:active, &:focus {
      background:none;
      color:#111;
    }
    
  }
  
  &.btn-ghost-white {
    
    background:none;
    border-color:#fff;
    color:#fff;
    
    &:hover, &:active, &:focus {
      background:#fff;
      color:$text-color;
    }
    
  }
  
  &.btn-tertiary {
    
    background:$tertiary;
    color:#fff;
    border-color:$tertiary;
    
    &:hover, &:active, &:focus {
      background:none;
      color:$tertiary;
    }
    
  }
  
  &.btn-gradient {
    
    background:$gradient;
    border:none;
    color:#fff;
    
    &:hover, &:active, &:focus {
      background:$gradient-reverse;
    }
    
  }
  
}

.center, .centre {
  text-align:center;
}
